#buttonContainer {
  min-width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: aquamarine;
  border: 1px solid black;
  height: 25%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

p {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 60px;
  width: 50px;
  padding: 25px;
  margin: 10px 10px 10px 10px;
  align-items: center;
  box-shadow: 0 2px 2px 4px lightseagreen;
  text-align: center;
}

p:hover {
  background-color: white;
}
